{% extends "base.html" %}
{% block title %}Consulta{% endblock title %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">País</th>
                <th scope="col">Estado</th>
                <th scope="col">Cidade</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in User %}
            <tr>
                <th scope="row">1</th>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.pais}}</td>
                <td>{{usuario.estado}}</td>
                <td>{{usuario.cidade}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}