<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Produto</h1>

        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'index'  %}">{{ produto.nome }}</a></td>
                    <!-- index é o nome que demos para a rota, que definimos no arquivo urls.py, linha 10 -->
                    <!-- passamos o index pq deu o nome pra ele de index no urls, linha 10 -->
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.estoque }}</td>
                </tr>
            </tbody>
        <table>

    </body>
</html>
